.AccountingContainer{
    width: 100%;
    display: flex;
    padding-top: 35px;
    padding-bottom: 50px;
}
.acc1{
    width: 50%;
    margin-left: 20px;
}
.acc1 h5{
    color: #6a666a;;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
.acc1 p{
    color: #6a666a;;
     font-size: 14px;
     font-weight: 600;
}
.acc2{
    width: 50%;
    margin-left: 20px;
}
.acc2 h5{
    color: #6a666a;;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
.acc2 p{
    color: #6a666a;;
     font-size: 14px;
     font-weight: 600;
     margin-bottom: 4px;
}
.AccountingEditcontent{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.AccountingEditcontent p{
    width: 150px;
    color: #6a666a;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}
.AccountingEditcontent select{
   border: none;
    margin-left: 40px;
    border-bottom: 1px solid #cccccc;
    width: 400px;
    outline: none;
}

@media only screen and (max-width:1000px)
{
    .AccountingContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .AccountingEditcontent p {
        width: 200px
    }
}