.GeneralInformationEditContainer{
    width: 100%;
    display: flex;
    padding-top: 35px;
    padding-bottom: 50px;
}
.Editpart1{
    width: 50%;
    padding-top: 10px;
    padding-left: 26px;
}
.Editfirstcontent{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.Editfirstcontent p{
    width: 120px;
    color: #6a666a;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}
.Editfirstcontent select{
   border: none;
    margin-left: 40px;
    border-bottom:2px solid #6a666a;
    width: 450px;
    outline: none;
}
.Editfirstcontent2{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.Editfirstcontent2 p{
    color: #6a666a;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    width: 150px;
}
.Editfirstcontent2 input{
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
    width: 450px;
    margin-left: 10px;
}
.Editpart1 h5{
    color: #877d6f;
    margin-top: 45px;
    font-size: 30px;
    font-weight: 400;
}
.Editpart1 span{
    color: #cccccc;
}
.Editpart2{
    width: 50%;
    padding-top: 10px;
    padding-left: 26px;
}
.Editfirstcontent3{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.Editfirstcontent3 p{
        color: #6a666a;
        font-size: 14px;
        width: 200px;
        font-weight: 600;
        margin-bottom: 0px;
}
.Editfirstcontent3 input{
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
    width: 400px;
}
.Editfirstcontent3 span{
    color: #916f6f;
    font-size: 14px;  
    margin-left: 20px;
}
.Editfirstcontent3 select{
    border: none;
     margin-left: 2px;
     border-bottom: 2px solid #6a666a;
     width: 400px;
     outline: none;
 }

 @media only screen and (max-width: 1000px)
 {
    .Editfirstcontent p {
        width: 122px;
    }
    
.Editfirstcontent select {
    width: 250px;
}
.Editfirstcontent2 input {
    width: 336px;   
}
.GeneralInformationEditContainer{
 flex-direction: column;
}
 }