.AddAccountTagcon{
    width: 98%;
    border: 1px solid #cccc;
    padding-bottom:10%;
    padding-top: 30px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 5px;
}
.AddAccountTagContent{
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.AddAccountTagContent p{
    color:#6f6f6f;
    font-size: 16px;
    margin-left: 19px;
    margin-bottom: 5px;
    font-weight: 500;
    width: 150px;
}
.AddAccountTagContent input{
    border: none;
    outline: none;
    border-bottom:1px solid #cccccc;
    width: 500px;
}
.AddAccountTagContent select{
    border: none;
    outline: none;
    border-bottom:1px solid #cccccc;
    width: 500px;
}
.multiselectcontent{
  display: flex;
  align-items: center;  
  margin-top: 10px;
}
.multiselectcontent p{
    color:#6f6f6f;
    font-size: 16px;
    margin-left: 19px;
    margin-bottom: -6px;
    font-weight: 500;
    width: 150px;
}
.Addmultiselect{
    border: none;
    border-bottom: 1px solid #cccc;
    outline: none;
    /* margin-left: 15px; */
    width: 500px;
    color: #666666;
}
.AddAccountTag_Multi{
    display: flex;
    align-items: center;
}
.AddAccountTag_Multi p{
        color:#6f6f6f;
    font-size: 16px;
    margin-left: 19px;
    margin-bottom: -6px;
    font-weight: 500;
    width: 150px;
}

@media screen and (max-width: 1000px)
{
    .AddAccountTagContent input{
       width: 500px;
    }

.AddAccountTagContent select{
    width: 500px;
}
}