.VariantsContainer{
    width: 100%;
    padding: 10px 20px;
}
.Variants{
    width: 100%;
    display: flex;
}
.VariantsContent1{
    display: flex;
    width: 50%;
}
.VariantsContent1 p{
    font-size: 15px;
    margin-left: 30px;
    color: #212529;
    font-weight: 700;
    margin-top: 5px;
}
.Variantscontent2 p{
    font-size: 15px;
    margin-left: 30px;
    color: #212529;
    font-weight: 700;
    margin-top: 5px;
}
.Variants2{
    width: 100%;
    height: 200px;
    border-radius: 2px;
    box-shadow: rgb(203, 205, 206) 3px 3px 6px 0px inset, rgba(224, 220, 220, 0.5) -3px -3px 6px 1px inset;
}