.AddAnalyticTagCon{
    width: 98%;
    border: 1px solid #cccc;
    padding-bottom:10%;
    padding-top: 30px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 15px;
}
.AddAnalyticTagContent{
    display: flex;
    align-items: center;
}
.AddAnalyticTagContent p{
    width: 200px;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.AddAnalyticTagContent input{
    border: none;
    outline: none;
    width:800px;
   border-bottom: 1px solid #cccccc;
}
.AddAnalyticTagChecbox{
    display: flex;
    align-items: center; 
}
.AddAnalyticTagChecbox label{
    width: 200px;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
    
}
.AddAnalyticTagChecbox input{
    width: 20px;
    height: 20px;
}

@media (min-width:768px) and (max-width: 1024px)
{
    .AddAnalyticTagContent input{
     width: 500px;
    }
}


