

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.tss-tlx3x1-MUIDataTableToolbar-root.css-hyum1k-MuiToolbar-root {
    display: none !important;
}
.protab{
    max-width: 100%;
    overflow-y: scroll;
    /* height: 500px; */
}

