

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.tss-tlx3x1-MUIDataTableToolbar-root.css-hyum1k-MuiToolbar-root {
    display: none !important;
}
.protab{
    max-width: 100%;
    overflow-y: scroll;
    /* height: 500px; */
}
.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    display: block;
}
@media (max-width: 899.95px)
{
.tss-1y3wvy9-MUIDataTableBodyCell-stackedParent {
    display: inherit;
  
}}