.AddAccountCon{
    width: 100%;
    padding: 15px 15px;
    display: flex;
    /* align-items: center; */
}
.AddAccTypeFirst{
    width: 50%;
}
.AddAccContent{
    display: flex;
    align-items: center;
}
.AddAccContent p{
    color:#6a6a6a;
    font-size: 16px;
    margin-left: 19px;
    margin-bottom: 5px;
    width: 220px;
    font-weight: 500;
}
.AddAccContent input{
    border: none;
    outline: none;
   border-bottom: 1px solid #cccccc;
    width: 500px;
}
.AddAccContent select{
    border: none;
    outline: none;
border-bottom: 1px solid #cccccc;    width: 500px;
}
.des{
    display: flex;
    align-items: center;
}
.des h3{
    color:#6a6a6a;
    font-size: 16px;
    margin-left: 19px;
    margin-bottom: 5px;
    width: 260px;
    font-weight: 500;
}
.des input{
    border: none;
    outline: none;
    border-bottom: 1px solid #cccc;
    width: 650px;
    margin-left: 18px;
}
.AddAccTypeSecond{
    width: 50%;
}
.AddAccTypecheckbox{
    display: flex;
    align-items: center;
}
.AddAccTypecheckbox label{
    color:#6a6a6a;
    font-size: 16px;
    margin-left: 19px;
    margin-bottom: 5px;
    width: 200px;
    font-weight: 500;
}
/* .AddAccTypecheckbox input{
    width: 25px;
} */

@media screen and (max-width: 1000px)
{
    .AddAccountCon{
        flex-direction: column;
    }
    .des input{
        width: 400px;
    }
    .AddAccTypeFirst {
        width: 100%;
    }
}