.employee_maniContainer {
  width: 100%;
  background-color: #f3f5f7;
  padding: 10px 10px;
  flex: 1;
  height: 500px;
  overflow-y: scroll;
  padding-right: 12px;
  position:relative;
}
.employee_container {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #cdd3d9;
  padding: 15px 20px;
}
.emp_details {
  width: 100%;
  display: flex;
}
.emp_content {
  width: 70%;
}
.emp_Name input {
  font-size: 25px;
  margin-left: 25px;
  width: 600px;
  margin-top: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #cccc;
}
.emp_job input {
  font-size: 20px;
  margin-left: 25px;
  width: 600px;
  margin-top: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cccc;
}
.employee_img {
  width: 30%;
}
.employee_img img {
  height: 150px;
  width: 150px;
  float: right;
  margin-right: 15%;
}
.emp_persanalContent {
  width: 100%;
  display: flex;
  padding: 15px 30px;
}
.emp_work{
    width: 50%;
}
.emp_mob{
    display: flex;
    align-items: center;
}
.emp_mob p{
    width: 150px;
    color: #666666;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
.emp_mob input{
    width: 350px;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccc;
}
.emp_dep{
    width: 50%;
    margin-top: 10px;
}
.emp_select{
    display: flex;
    align-items: center;
}
.emp_select p{
    width: 150px;
    color: #666666;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
.emp_select select{
    width: 350px;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccc;
}


.emp_mob .phone_sty{
    margin-left: 5px;
}

.emp_mob .react-tel-input {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    position: relative;
    width: 100%;
    border: none !important;
    margin-left: 35px;
}
.emp_mob .react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px;
    margin-left: 2px;
    background: #FFFFFF;
    border-radius: 0px;
    line-height: 25px;
    height: 35px;
    width: 350px !important;
    outline: none;
    border: none !important;
    border-bottom:1px solid #CCCCCC !important;
}
.emp_mob .react-tel-input .flag-dropdown {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
     background-color: transparent !important;
    border:none !important;
    border-radius:0px;
}


.emp_mob input.form-control:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #979797 !important;
}
.emp_mob input.form-control:active {
    box-shadow: none !important;
    border-bottom: 1px solid #979797 !important;
}

@media (min-width:768px) and (max-width:1024px){
  .emp_persanalContent{
    display: flex;
    flex-direction: column;
  }
  .emp_work{
    width: 100%;
}
.emp_dep{
    width: 100%;
}
.emp_Name input{
  width: 400px;
}
.emp_job input{
  width: 400px;
}
}