.addRequestQuoPContainers{
    width: 95%;
    border: 1px solid #cccc;
    padding-bottom:5%;
    padding-top: 30px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 40px;
}
.addRequestPCons{
    width: 100%;
    padding: 5px 40px;
}
.rfqCode p{
color: #6a6a6a;
font-size: 15px;
font-weight: 600;
margin-bottom: 0px;
}
.rfqCode h3{
    font-size:20px;
    font-weight: 500;
}