.ProductsMainContainer{
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.ProductContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 98%;
    
    
}
.ProductSidebar{
   width: 17%;
    height: 100%;
    margin-left: 0px !important;
    
}
.Product2Card{
    width: 83%;
    display : flex ;
    flex-wrap: wrap;
    height: 80%;
    background-color: #eff1f3;
   overflow-y: scroll;
}