.container-fluid{
    margin: 0px;
    width:100%;
}
.box {
    margin-left: 15px;
    margin-top: 25px;
    height: 180px;
  width: 350px;
  border: 1px solid gray;
 border-left:5px solid #2c8397 ;
 display: flex;
}
 .b1{
    width: 172px;
    height: 100%;
   float: left;
  
 }
.b2{
    width: 172px;
    height: 100%;
    float: left;
    padding-right: 20px;
}

.btnc{
    background-color:#00a09d ;
    width:75%;
    height: 35px;
    text-align: center;
    color: white;
    margin-left: 10px;
    border: none;
    font-size: 14px;
    margin-top: 20px;
}
.htxt{
    display: flex;
    justify-content: space-between;margin-left: 10px;

}
.txtclr{
    color:#00a09d ;
    font-size: 14px;
}
.txtclr2{
    color:gray ;
    font-size: 12px;
}
.mainbox{
    display:flex;
  
}