.ven_container{
    width:150%;
    background-color: #fff;
    position: relative;
    margin-left: -20%;
    padding-bottom: 4%;
}
.vendors_Container{
    width: 100%;
    display: flex;
    padding: 15px 30px;
    margin-top: 30px;
    justify-content: space-between;
}
.vendors_box{
    width: 50%;
}
.vendors_text{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.vendors_box h1{
    color: #666666;
    font-size: 25px;
    font-weight: 400;
    margin-left: 45px;
}
.vendors_text p{
    color: #666666;
    margin-bottom: 0px; 
    font-size: 15px;
    font-weight: bold;
    width: 200px;
}
.vendors_text select{
    width: 500px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
}
.vendors_text input{
    width: 500px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;  
}
.lead_time{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.lead_time p{
    color: #666666;
    margin-bottom: 0px; 
    font-size: 15px;
    font-weight: bold;
    width: 200px;  
}
.lead_time input{
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
}
.vendor_box2{
    width: 50%;
    padding-left: 17px;
}
.vendor_box2 h1{
    color: #666666;
    font-size: 25px;
    font-weight: 400;
    margin-left: 45px;
}
.lead_time select{
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
    margin-left: 5px;
}
.priceList_text{
    display: flex;
    align-items: center;
    margin-top: 10px;  
}
.priceList_text p{
    color: #666666;
    margin-bottom: 10px; 
    font-size: 15px;
    font-weight: bold;
    width: 150px;  

}
.priceListtext select{
    width: 500px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
}
.pricetexts{
    display: flex;
    align-items: center; 
}
.price_texts p{
    color: #666666;
    margin-bottom: 10px; 
    font-size: 15px;
    font-weight: bold;
    width: 150px; 
}
.price_texts input{
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
}
.pricetexts select{
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
    margin-left: 5px;
}
.price_texts span{
    color: black;
    font-size: 15px;
}

/* @media screen and (max-width: 1000px){
    .vendorsPriceListContainer{
     display: flex;
     flex-direction: column;
    }
    .priceListPart2{
     width: 100%;
     margin-top: 40px;
     padding-left: 0px;
    }
 } */