.AddIncotermsCon{
    width: 98%;
    border: 1px solid #cccc;
    padding-bottom:10%;
    padding-top: 30px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 40px;
}
.AddIncotermsContent{
    width: 100%;
}
.AddIncoText{
    display: flex;
    align-items: center;
}
.AddIncoText p{
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    margin-bottom: 0px;
}
.AddIncoText input{
    border: none;
    outline: none;
    width:500px;
   border-bottom: 1px solid #cccccc;
}