
/* 
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.tss-tlx3x1-MUIDataTableToolbar-root.css-hyum1k-MuiToolbar-root {
    display: none !important;
} */
.product_table{
    max-width: 100%;
}
/* td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.tss-1qtl85h-MUIDataTableBodyCell-root.tss-1y3wvy9-MUIDataTableBodyCell-stackedParent.tss-iwylj0-MUIDataTableBodyCell-responsiveStackedSmallParent.css-1ex1afd-MuiTableCell-root {
    padding: 0px !important;
}
.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    display: block;
}
.SizeMedium.MuiButtonBase-root.tss-1fbujeu-MUIDataTableHeadCell-toolButton.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
    padding: 0px !important;
}
button.MuiButton-root.MuiButton-Primary.MuiButton-sizeMedium.MuiButton-SizeMedium.MuiButtonBase-root.tss-1fbujeu-MUIDataTableHeadCell-toolButton.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
    padding: 0px !important;
}

p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
} */
.tss-1qtl85h-MUIDataTableBodyCell-root.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    margin-left: 20px !important;
}
.css-1bigob2{
    padding: 0px;
}
p#\:rj\: {
    margin-bottom: 0px !important;
}
/* 
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.tss-8ai1ls-MUIDataTableToolbarSelect-deleteIcon.css-i4bv87-MuiSvgIcon-root {
    display: none !important;
} */
/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.tss-1dqj55d-MUIDataTableToolbarSelect-root.css-1ps6pg7-MuiPaper-root {
    display: none !important;
} */
p#\:r15\: {
    margin-bottom: 0px !important;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.tss-1dccma1-MUIDataTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p{
    margin-top: 0 !important;
    margin-bottom: 0px !important;
}

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.tss-1dqj55d-MUIDataTableToolbarSelect-root.css-aoeo82 {
    display: none !important;
} */


@media (max-width: 899.95px)
{
.tss-1y3wvy9-MUIDataTableBodyCell-stackedParent {
    display: inherit;
  
}}
@media only screen and (min-width:768px) and (max-width:1024px){
    /* .tss-1qtl85h-MUIDataTableBodyCell-root.tss-1ej321f-MUIDataTableBodyCell-cellHide.tss-1t2q2nr-MUIDataTableBodyCell-stackedHeader.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {

        display: none !important;
    } */
}

.tss-1qtl85h-MUIDataTableBodyCell-root.tss-1ej321f-MUIDataTableBodyCell-cellHide.tss-1t2q2nr-MUIDataTableBodyCell-stackedHeader.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    display: none !important;
}