.WarehouseConfigContainer {
  width: 100%;
  padding: 35px 45px;
}

.configpart1 {
  width: 50%;
}

.configpart1 p {
  color: #666666;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  /* margin-top: 10px; */
  font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
}

.checkbox p {
  width: 200px;
  color: #666666;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.checkbox input {
  width: 16px;
  margin-left: 20px;
}

.checkbox label {
  margin-left: 10px;
  color: #666666;
  font-size: 16px;
}

.config2 {
  width: 100%;
}

.config2 h6 {
  color: #666666;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
}

.configcontent {
  display: flex;
}

.configcontent p {
  width: 200px;
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;

}
.configcontent input {
  width: 16px;
  margin-left: 20px;
}
.manufacturure p{
  width: 220px;
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  /* margin-top: 10px; */
}
.manufacturure{
  display: flex;
}
.manufacturure select{
  border:none;
  outline: none;
  width:400px;
  border-bottom: 1px solid #cccccc;
}
@media only screen and (max-width:1000px)
{
  .WarehouseConfigContainer{
    display: flex;
    flex-direction: column;
  }
  .configpart1{
  width: 100%;
  }
}

