.AddBankCon{
    width: 100%;
    border: 1px solid #cccc;
    padding: 10px 15px;
}
.AddBanktext p{
 color: #6a6a6a;
 font-size: 16px;
 font-weight: 600;
 margin-bottom: 5px;
}
.AddBanktext input{
    width: 660px;
    border: none;
    outline: none;
   border-bottom: 1px solid #cccccc;
}
.AddBankConbox{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.AddBankfirsttext{
    width: 50%;
    margin-top: 15px;
}
.BankAc{
    display: flex;
    align-items: center;
}
.BankAc p{
    width: 200px;
    font-size: 14px;
    font-weight: 500;
    color: #6a6a6a;
    margin-bottom: 0px;
}
.BankAc select{
    width: 500px;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccc;
}
.BankAc input{
    width: 500px;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccc;
}
.BankAc span{
    font-size: 16px;
    color: #6a6a6a;
}
.AddBankAccSecondText{
    width: 50%;
    display: flex;
    align-items: center;
}
.AddBankAccSecondText p{
    width: 150px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #6a6a6a;
    margin-bottom: 0px; 
}
.AddBankAccSecondText  select{
    width: 500px;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccc;
}
.Addbankbox2{
    width: 100%;
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
}
.Paymenttype{
    width: 50%;
}
.Paymenttype p{
    font-size: 20px;
    color: #6a6a6a;
    font-weight: 400;
}
.Addbankpay{
    display: flex;
    align-items: center;
}
.Addbankpay p{
    width: 200px;
    font-size: 15px;
    color: #6a6a6a;
    font-weight: 500;
    margin-bottom: 0px;
}
/* .Addbankpay input{
    width: 20px;
    height: 15px;
} */
.Addbankpay span{
    font-size: 15px;
    color: #6a6a6a;
    margin-left: 10px;
}
.BankStatements{
    width: 50%;
}
.BankStatements p{
    font-size: 20px;
    color: #6a6a6a;
    font-weight: 400;
}
.bankselect{
    display: flex;
    align-items: center;
}
.bankselect p{
    width: 150px;
    font-size: 16px;
    color: #6a6a6a;
    font-weight: 500;
    margin-bottom: 5px;
}
.bankselect select{
    outline: none;
    border: none;
    border-bottom: 1px solid #cccc;
    width: 400px;
}
/* .bankselect input{
    width: 20px;
    height: 15px;
} */
.bankselect span{
    font-size: 16px;
    color: #6a6a6a;
    margin-left: 5px;
}
@media screen and (max-width: 1000px)
{
    .AddBankConbox{
       flex-direction: column;
    }
    .AddBankAccSecondText p{
        margin-left: 0px;
    }
    .AddBankAccSecondText select{
        width: 350px;
    }
    .Addbankbox2{
        flex-direction:column;
    }
    .AddBanktext input {
        width: 400px;
    }
}