.AddOperatintypeContainer{
    width: 98%;
    border: 1px solid #cccc;
    padding-bottom:10%;
    padding-top: 30px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 40px;
}

.Addoperationcontent
{
    width: 100%;
    display: flex;
}
.operationcon1{
    width: 50%;
}
.operation{
    display: flex;
   align-items: center;
}
.operation p {
    width: 200px;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 7px;
}
.operation input{
    border: none;
    outline: none;
    border-bottom: 2px solid #666666;
    width: 450px;
}
.operation select{
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc ;
    width: 450px;
}
.operation_type{
    display: flex;
    align-items: center;
}
.operation_type p{
    width: 200px;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 7px;
}
.operation_type select{
    border: none;
    outline: none;
    border-bottom: 2px solid #666666 ;
    width: 400px;
}
.type{
    width: 50%;
    margin-top: 15px;
}
.texts{
    display: flex;
   align-items: center;  
}
.texts p{
    width: 200px;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 7px;
}
.texts input{
    width: 20px;
}
.location{
    width: 100%;
    margin-top: 20px;
}
.location h3{
    margin-left: 50px;
    color: #666666;
    font-size: 25px;
    font-weight: 400;
}

@media screen and (max-width: 1000px){
    .Addoperationcontent
    {
       display: flex;
       flex-direction: column;
    }
    .operationcon1{
        width: 100%;
    }
    .type{
        width: 100%;
    }
    .operation_type select{
        width: 450px;
    }
}