/* .modal-header {
    border:none !important;
} */

button.btn.btn-secondary {
    margin-left: auto !important;
}

.modal-footer {
display: flex !important;
    justify-content: space-between !important;
}
.modal {
    --bs-modal-margin: 12.75rem !important;
}
.btn_delte:hover{
    background-color: #6a6a6a;
    color: #fff;

}
.modal-header {
    justify-content: flex-start !important;
}