/* .modal-header {
    border:none !important;
} */

.delete_modal button.btn.btn-secondary {
    margin-left: auto !important;
}

.delete_modal .modal-footer {
display: flex !important;
    justify-content: space-between !important;
}
.delete_modal .modal {
    --bs-modal-margin: 12.75rem !important;
}
 .delete_modal .btn_delte:hover{
    background-color: #6a6a6a;
    color: #fff;

}
 .delete_modal .modal-header {
    justify-content: flex-start !important;
}
.delete_modal.modal.show .modal-dialog {
    top: 30% !important;
}
