.UnitContainer{
    width: 98%;
    border: 1px solid #cccc;
    display: flex;
    padding-bottom:10%;
    padding-top: 30px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 40px;
}
.unitpart1{
    width: 50%;
}
.unitcontent{
    display: flex;
}
.unitcontent p {
    width: 150px;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 7px;
}
.unitcontent span{
    margin-left: 50px;
    font-size: 15px;
    color: #6a6666;
    padding-bottom: 10px;

}
.unitpart2{
    width: 50%;
}
.unitcontent input{
    width: 15px;
    margin-left:50px;
}
