.UnitContainer{
    width: 98%;
    border: 1px solid #cccc;
    display: flex;
    padding-bottom:10%;
    padding-top: 30px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 40px;
}
.unitpart1{
    width: 50%;
}
.unitcontent{
    display: flex;
}
.unitcontent p {
    width: 150px;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 8px;

}
.unitcontent input{
    width: 500px;
    border: none;
    outline: none;
    border-bottom: 2px solid #666666;
}
.unitcontent select{
    width: 500px;
    border: none;
    outline: none;
    border-bottom:2px solid #666666;
}
.unitcheckbox{
    display: flex;
}
.unitcheckbox p{
    width: 150px;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 8px;
}
.unitcheckbox input{
    width: 30px;
    height: 25px;
    margin-top: 5px;
}

@media (min-width:768px) and (max-width:1024px) {
    .unitpart1{
        width: 100%;
    }
}


