.GeneralInformationContainer{
    width: 100%;
    display: flex;
    padding-top: 35px;
    padding-bottom: 45px;
}
.part1{
    width: 50%;
    padding-top: 10px;
    padding-left: 26px;
}
.firstcontent{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.firstcontent p{
    width: 150px;
    color: #6a666a;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}
.firstcontent span{
    color: #6a6a6a;
    font-size: 14px;
}
.firstcontent2 {
    display: flex;
    align-items: center;
}
.firstcontent2 p{
    color: #6a6a6a;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    width: 150px;
}
.part1 h5{
    color: #6a6a6a;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
.part2{
    width: 50%;
    padding-top: 10px;
    padding-left: 26px;
}
.firstcontent3{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.firstcontent3 p{
        color: #6a6a6a;
        font-size: 15px;
        width: 200px;
        font-weight: 600;
        margin-bottom: 0px;
}
.firstcontent3 span{
    color: #6a6a6a;
    font-size: 15px;  
    /* margin-left: 20px; */
}
.custext{
    color: #6a6a6a;
    font-size: 17px;
    font-weight: 500;
}
@media only screen and (max-width: 1000px){
 
    .firstcontent3 p {
        font-size: 14px;
        width: 150px;
    }
    .firstcontent3 span {
        font-size: 14px;
        margin-left: 8px;
    }
    .custext {
        font-size: 15px;
    }
    .part1 h5 {
        font-size: 29px;
    }
}