.PVMain{
    width: 100%;
}
.pvmleft{
    
    height: 100vh;
    width:15%;
    margin-left: -1%;
    float: left;
}
.pvmRight{
    height: 100vh;
    width: 85%;
    float: left;
    margin-left: 1%;
    position: -ms-page;
}