.AddwareHouseContainer{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding-bottom: 5%;
    flex: 1;
    height: 500px;
    overflow-y: scroll;
}
.AddWareHouseHead{
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}
.head1empty{
 width: 85%;
}
.head2{
    width: 15%;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    border-left: 1px solid #cccc;
}
.AddWarehousetext p{
    color:#6f6f6f;
    font-size: 18px;
    margin-left: 19px;
    margin-bottom: -6px;
    /* margin-top: 8px; */
}
.Createcontent p{
font-size: 16px;
color: #6f6f6f;
font-weight: 600;
margin-left: 15px;
margin-top: 15px;
}
.shortname{
    width: 100%;
    display: flex;
    align-items: center;
}
.Addcontent{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 30px;
    margin-left:20px;
}
.Addcontent p{
    color: #6a666a;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    width: 150px;
}
.Addcontent input{
    border: none;
    border-bottom: 3px solid #6a666a;
    width: 450px;
    margin-left: 10px;
}
.Addcontent2{
    width: 50%;
}
.Adddropdown{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 30px;
}
.Adddropdown p{
    width: 120px;
    color: #6a666a;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}
.Adddropdown select{
    border: none;
    margin-left: 40px;
    border-bottom: 3px solid #6a666a;
    width: 450px;
    outline: none;
}