.container-fluid{
    margin: 0px;
    padding: 0px;
}

.navCont{
    background-color: var(--red);
}
.Navbar{
    width: 100%;
    background-color: #0077b0;
    /* background: var(--red); */
    color: white;
    position: relative;
}
.navetext{
    color: white !important;
    font-size:14px!important;

}
.navetext:hover{

    background-color: #5ab2ec;
}
.head{
    height: 100px;
    width: 100%;
    background-color:white;
    border-bottom: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
}
.search{
    width: 100%;
    margin-top: 15px;
    border: none;
   height: 35px;
   border-bottom: 1px solid black;
}

.search input{
    width: 94%;
    outline: none;
    border: none;

}
.navbar-light .navbar-nav .nav-link {
    color: white;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link:hover{

    background-color: #0077b0;
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:active{

    background-color: #0077b0;
    color: #fff !important;
}
.createbtn{
    background-color:#0077b0;
    border:none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin: auto;
    padding: 8px 20px;
    font-weight: 600;
    transition: 0.3s;
}
.savebtn{
    background-color:#0077b0;
    border:none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin: auto;
    padding: 8px 20px;
    font-weight: 600;
    transition: 0.3s;
    margin-left: 10px;
}
.createbtn:hover{
    background-color:#036463;
}
.savebtn:hover{
    background-color:#036463;
}
.logout{
    position:absolute;
    right: 20px;
    top: 5px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
}
.logout p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
}
.overview_font{
    font-size: 16px !important;
}

@media (min-width: 768px) and (max-width: 1024px){
    .logout {
        position: absolute;
        right: 90px;
        top: 12px;
        display: flex;
        align-items: center;
        margin-top: 5px;
    }
    nav.Navbar.navbar.navbar-expand-lg.navbar-light .nav-item.show.dropdown {
        display: block;
    }
    nav.Navbar.navbar.navbar-expand-lg.navbar-light .nav-item.show.dropdown .dropdown-menu.show {
        background: none;
        border: none;
        color: #fff !important;
    }
    nav.Navbar.navbar.navbar-expand-lg.navbar-light .nav-item.show.dropdown .dropdown-menu.show a {
        color: #fff !important;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        background-color: #fff0;
        color: #fff !important;
    }
    .navbar-nav {
        width: 100%;
    }
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: rgb(255 255 255 / 90%);
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: #1e2125;
        background-color: #e9ecef00;
    }
}

