.AccountingContainer{
    width: 100%;
    display: flex;
    padding-top: 35px;
    padding-bottom: 50px;
}
.acc1{
    width: 50%;
    margin-left: 20px;
}
.acc1 h5{
    color: #796666;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
.acc1 p{
    color: #949090;
     font-size: 15px;
     font-weight: 600;
}
.acc2{
    width: 50%;
    margin-left: 20px;
}
.acc2 h5{
    color: #796666;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
.acc2 p{
    color: #949090;
     font-size: 15px;
     font-weight: 600;
     margin-bottom: 4px;
}