.work_maincon {
    width: 100%;
    background-color: #f3f5f7;
    padding: 10px 10px;
    flex: 1;
    /* height: 500px;
    overflow-y: scroll; */
  }
  .work_container {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #cdd3d9;
    padding: 10px 25px;
    /* padding-bottom: 5%; */
  }
  .work_details {
    margin-top: 20px;
    padding: 10px 15px;
    position: relative;
  }
  .work_radio {
    display: flex;
  }
  .work_ind {
    display: flex;
    align-items: center;
  }
  .work_ind label {
    margin-left: 10px;
    color: #6f6f6f;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .work_com {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .work_com label {
    margin-left: 10px;
    color: #6f6f6f;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .work_name p {
    color: #6f6f6f;
    font-size: 25px;
    margin-bottom: 5px;
  }
  .work_name input{
      width: 500px;
      outline: none;
      border: none;
      border-bottom:1px solid #cccc;
  }
  .work_company {
      margin-top: 5px;
  }
  .work_company select{
      width: 500px;
      outline: none;
      border: none;
      border-bottom: 1px solid #cccc;
  }
  .work_personaldetails{
      width: 100%;
      display: flex;
      margin-top: 5%;
  }
  .work_first{
      width: 50%;
  }
  .work_text{
      display: flex;
      align-items: center;
  }
  .work_text p{
      color:#6f6f6f;
      font-size: 15px;
      width: 200px;
      margin-bottom: 7px;
      font-weight: 500;
  }
  .work_text select{
      width: 400px;
      outline: none;
      border: none;
      border-bottom: 1px solid #cccc;
  }
  .work_text input{
      width: 400px;
      outline: none;
      border: none;
      border-bottom: 1px solid #cccc;
  }
  .work_second{
      width: 50%;
      margin-top: 15px;
      margin-left:15px;
  }
  .work_addr{
     display: flex;
     align-items: center;
  }
  .work_addr label{
      color:#6f6f6f;
      font-size: 15px;
      width: 200px;
      margin-bottom: 7px;
      font-weight: 500;
  }

  
  .work_text  .phone_sty{
  margin-left: 5px;
}

.work_text .react-tel-input {
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
  border: none !important;
  margin-left: 60px;
}
.work_text .react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 2px;
  background: #FFFFFF;
  border-radius: 0px;
  line-height: 25px;
  height: 35px;
  width: 400px !important;
  outline: none;
  border: none !important;
  border-bottom:1px solid #CCCCCC !important;
}
.work_text .react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
   background-color: transparent !important;
  border:none !important;
  border-radius:0px;
}


.work_text input.form-control:focus {
  box-shadow: none !important;
  border-bottom: 1px solid #979797 !important;
}
.work_text input.form-control:active {
  box-shadow: none !important;
  border-bottom: 1px solid #979797 !important;
}

  @media (min-width:768px) and (max-width:1024px){
    .work_maincon{
      height: auto;
    }
    .work_personaldetails{
      display: flex;
      flex-direction: column;
    }
    .work_first{
      width: 100%;
    }
    .work_second{
      width: 100%;
      margin-top: 0px;
      margin-left:0px;
  }


  }
  