.emptypage{
    width: 700px;
    margin: auto;
    margin-top: 10%;
}
.emptypage img{
    margin-left:280px;
}
.emptypage h1{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
.emptypage p{
    font-size: 18px;
    text-align: center;
    color: #808080;
}