.DetailsMainheader{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
.Detaialsheader{
    width: 100%;
    display: flex;
}
.detailsText{
    width: 35%;
    margin-right: 10px;
}
.detailsText p{
color: #5e5757;
font-size: 21px;
margin-left: 26px;
margin-top: 13px;
font-weight: 600;
margin-bottom: 8px;
}
.detailsbutton{
    margin-left:29px;
    margin-bottom: 10px;
}
.btn1{
   background-color:#1669a2;
    border:none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin: auto;
    padding: 8px 20px;
    font-weight: 600;
    margin-left: 10px;
}
.btn2{
    color: #fff;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: 600;
    border: none;
    background-color:#1669a2;
    transition: 0.2s;
}
.btn2:hover{
    background-color:#6a6a6a;
}
.btn1:hover{
    background-color:#6a6a6a;
}
.deatailsdropdown{
width: 35%;
display: flex;
justify-content: center;
align-items: flex-end;

}
.detailsIcons p{
    color: #9f9f9f;
    margin-left: 22px;
    font-size: 18px;
    font-weight: 600;
}
.detailsIcons{
    display: flex;
    margin-top: 5px;
}
.detailsArrow{
   width: 30%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end; 
   padding-right: 10px;
   padding-right: 52px;
}
.detailsArrow p{
    color: #9f9f9f;
   margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}
.detailsheader2{
    width: 100%;
    border: 1px solid #ced4da;
    display: flex;
}
.detailsheader2 p{
   color: #1669a2;
   font-size: 18px;
   text-align: center;
   text-transform: uppercase;
   margin-left: 10px;
}
.btn3{
    color: #1669a2;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: 500;
    border: none;
    margin-left: 7px;
    background-color: #fff;
    transition: 0.2s;
    font-size: 15px;
}
.btn3:hover{
    background-color:rgb(230, 222, 222);
}

.dropdown_menu{
    border: 1px solid black;
    width: 200px;
    background-color: #1669a2;
    padding: 10px 10px;
}
.dropdown_menu p{
    color: #fff;
}