.AddProductCategoriesContainer{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding-bottom: 5%;
    flex: 1;
    /* height: 500px; */
    /* overflow-y: scroll; */
}
.AddProductCateMain{
    padding: 15px 35px;
}
.AddProductCatehead{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.AddProductCate1{
    width: 75%;
}
.AddProductCate2{
    width: 25%;
    display: flex;
    padding-left: 10px;
    border-left: 1px solid #cdd3d9;
    align-items: center;
}
.AddProductcatehead1{
    width: 200px;
    display: flex;
    padding: 6px 0px;
    padding-left: 10px;
    border-right: 1px solid #cdd3d9;
    align-items: center;
}
.AddProductcatehead1:hover{
    background-color: #f3efef;
}
.AddProductCatedetails{
    width: 100%;
    display: flex;
    align-items: center;
}
.AddProductCatedetails1{
    width: 70%; 
}

.AddProductCatecontent input{
    border: none;
    border-bottom: 2px solid #666666;
    outline: none;
    margin-left: 20px;
    width: 600px;
}
.AddProductCatecontent select{
    border: none;
    border-bottom: 1px solid #cccc;
    outline: none;
    margin-left: 20px;
    width: 600px;
}
.AddProductCatecontent{
    display: flex;
    align-items: center;
}
.AddProductCatecontent p{
width: 200px;
color: #6a666a;
font-size: 15px;
font-weight: 600;
margin-left: 11px;
margin-bottom: 8px;
}
.AddProductCateText p{
    color:#6f6f6f;
    font-size: 16px;
    margin-left: 19px;
    font-weight: 600;
    margin-bottom: -7px;
}
.AddProductdetails2{
    width: 30%;
    padding: 10px 15px;
}
.AddProductdetails2 p{
    font-size: 18px;
    color: #6c757d;
}
.alertbox{
    width: 300px;
    background-color: #d1ecf1;
    border-radius: 2px;
    padding: 15px 15px;
}
.alertbox b{
    font-size: 14px;
}

.AddProductCateContent{
    width: 100%;
    padding: 10px 15px;
}

.AddProductCateContent h5{
    color: #6c757d;
    font-size: 24px;
    margin-left: 0px;
    font-weight: 400;
}

.searchWrapper {
    border: none !important;
    min-height: 22px;
    padding: 5px;
    position: relative;
}
.highlightOption {
    color: #fff;
    background-color: #1669a2;
}
.highlightOption:hover {
    background: #6c757d !important;
    color: #fff;
}

.chip {
    align-items: center;
    border: 1px solid #6f6f6f;
    border-radius: 11px;
    color:#fff;
    background: #6a666a;
    display: inline-flex;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 4px 10px;
    font-weight: 600;
}
.AddProductCatetotal p{
    font-size: 18px;
    color: #6a666a;
    font-weight: 600;
}
.AddProductCatedropdown {
    display: flex;
    align-items: center;
}
.AddProductCatedropdown p{
    color:#6f6f6f;
    font-size: 16px;
    margin-left: 3px;
    font-weight: 600;
    margin-bottom: -7px;
}
.AddProductCatedropdown select{
    border: none;
    border-bottom: 1px solid #cccc;
    outline: none;
    margin-left: 20px;
    width: 80%; 
}
.AddProductdetailscontent3{
    width: 100%;
    display: flex;
    padding: 20px 10px;
}
.Logistics{
  width: 50%;  
}
.Logistics h6{
    font-size: 18px;
    color: #6a666a;
}
.force{
    display: flex;
    align-items: center;
}
.force p{
    color:#6f6f6f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    width: 200px;
}
.force select{
    border: none;
    border-bottom: 2px solid #666666;
    outline: none;
    margin-left: 10px;
    width: 330px;  
}
.InventoryValuation{
    width: 50%;
}
.InventoryValuation h6{
    font-size: 18px;
    color: #6a666a;
}
.AddProductCate3dropdown {
    display: flex;
    margin-top: 7px;
    align-items: center;
}
.AddProductCate3dropdown p{
    color:#6f6f6f;
    font-size: 16px;
    margin-left: 3px;
    font-weight: 600;
    margin-bottom: 8px;
    width: 200px;
}
.AddProductCate3dropdown select{
    border: none;
    border-bottom: 1px solid #cccc;
    outline: none;
    margin-left: 10px;
    width: 330px; 
}
.AddProductCateEmptybox{
    width: 50%;
}
.AddProductCatecontent4{
    display: flex;
    width: 100%;
    margin-top: 21px;
    justify-content: space-between;
    padding-left: 10px;
}
.AccountProperties h6{
    color: #6a666a;
    font-size: 18px;
    margin-left: 0px;
    /* font-weight: 400; */
}
.AccountStock{
    width: 50%;
    /* padding: 15px 15px; */
}
.AccountStock h6{
    color: #6c757d;
    font-size: 18px;
    font-weight: 500;
}
.stockdropdown{
    display: flex;
    margin-top: 8px;
    align-items: center;
}
.stockdropdown p{
    color:#6f6f6f;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: -10px;
    width: 200px;
}
.stockdropdown select{
    border: none;
    border-bottom: 1px solid #cccc;
    outline: none;
    width: 331px; 
}
.logistics_cl{
    display: flex;
    align-items: center;
}
.logistics_cl p{
    color:#6f6f6f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -10px;
    width: 200px;
}
.logistics_cl select{
      border: none;
    border-bottom: 1px solid #cccc;
    outline: none;
    margin-left: 10px;
    width: 331px; 
}
@media (min-width: 768px) and (max-width: 1024px)
{
    /* .AddProductCategoriesContainer {
        height: 0px;
    } */
    .AddProductCateText p{
        font-size: 13px;
    }

.AddProductCatecontent p {
    width: 131px;
    font-size: 16px;
}
.AddProductCatecontent input {
    border: none;
    border-bottom: 2px solid #666666;
    outline: none;
    margin-left: 20px;
    width: 374px !important;
}
.AddProductCatecontent select {
    border: none;
    border-bottom: 1px solid #cccc;
    outline: none;
    margin-left: 20px;
    width: 371px !important;
}
.alertbox {
    width: 250px !important;
}
.AddProductCateContent h5 {
    font-size: 21px;
}
.AddProductCateMultiselect p {
    font-size: 18px;
}
.AddProductCatetotal p {
    font-size: 16px;
}
.AddProductCatedropdown select {            
    margin-left: 16px;
    width: 50%;
}
.AddProductCatedropdown p {
    font-size: 13px;
}
.AddProductdetailscontent3 h5 {
    font-size: 21px;
}
.AddProductCate3dropdown p {
    font-size: 14px;
    width: 211px;
}
.AddProductCatecontent4{
    display: flex;
    flex-wrap: wrap;
}
.AccountStock {
    width: 79%;
    margin-top: 20px;
    padding: 0px;
}
.AccountStock h5 { 
    margin-left: 0px;
}
.AddProductCateContent {
    width: 100%;
    padding: 10px 12px;
}
.InventoryValuation {
    width: 100%;
    margin-top: 25px;
}

.stockdropdown p {

    font-size: 13px;
}
.AddProductdetailscontent3{
    flex-direction: column;
}
.InventoryValuation{
    margin-left: 0px;
}
.Logistics {
    width: 100%;
}


}


